# requirements.txt for LanDrop

# Core networking and discovery
zeroconf>=0.47.0,<1.0

# Optional: Clipboard functionality
pyperclip>=1.8.2,<2.0

# Optional: Required ONLY for generating self-signed TLS certificates
cryptography>=3.4

# Required for handling PNG icons in Tkinter cross-platform
Pillow>=9.0.0